import '../utils/index.dart';

class Day{{dayString}} extends GenericDay {
  Day{{dayString}}() : super({{dayInt}});

  @override
  parseInput() {
    
  }

  @override
  solvePart1() {
    
    return 0;
  }

  @override
  solvePart2() {

    return 0;
  }
}
